// Handles all properties
.vendor-prefix (@property, @value) {
  -webkit-@{property}: @value;
  -moz-@{property}: @value;
  -ms-@{property}: @value;
  -o-@{property}: @value;
  @{property}: @value;
}

// Handles opacity timings - !important required to override specificity
.vendor-prefix-opacity (@duration; @delay) {
  -webkit-transition: opacity @duration @delay !important;
  -moz-transition: opacity @duration @delay !important;
  -ms-transition: opacity @duration @delay !important;
  -o-transition: opacity @duration @delay !important;
  transition: opacity @duration @delay !important;
}

// Scope the styles to flipcard__component's
.flipcard {
  &__widget {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .vendor-prefix(perspective, 37.5rem);
  }

  // Fix for jumping Footer nav
  &__inner {
    overflow: hidden;
  }

  &__item {
    border: 0;
    overflow: hidden;
    padding: 0;
    position: relative;
    width: 100%;

    @media all and (max-width: @device-width-medium) {
      // Override style attribute
      flex-basis: 100% !important;

      &__item-face {
        height: 100%;
        width: 100%;
      }
    }

    html.size-large & {
      min-height: 20rem;

      // Spacing between side by side items
      &.flipcard__multiple {
        flex: 0 0 49%;
      }
    }

    .component-left&,
    .component-right& {
      min-height: 9.375rem;
    }

    &__item-face {
      border: none;
      cursor: pointer;
      float: none;
      width: 100%;
      z-index: 110;

      &.flipcard__item-front .flipcard__item-frontImage {
        height: auto;
        width: 100%;
      }
    }
  }

  // Front item
  &__item-front {
    opacity: 1;
    .vendor-prefix-opacity(0.2s; 0.1s);
  }

  // Back item
  &__item-back {
    height: 100%;
    padding: 0.78125rem 2.34375rem;
    opacity: 0;
    position: absolute;
    top: 0;
    .vendor-prefix(box-sizing, border-box);
    .vendor-prefix-opacity(0.2s; 0.1s);

    @media only screen and (min-width: @device-width-small) and (max-width: @device-width-medium) {
      // Tablet
      padding: 1.09375rem 3.28125rem;
    }

    @media only screen and (min-width: (@device-width-medium + 0.0625rem)) {
      // Desktop
      padding: 1.25rem 3.75rem;
    }
  }

  // Reverse the Y transform on horizontal
  .horizontal .flipcard__item-back {
    .vendor-prefix(transform, rotateY(180deg));
  }

  // Reverse the X transform on vertical
  .vertical .flipcard__item-back {
    .vendor-prefix(transform, rotateX(180deg));
  }

  // Hide/Show the items when flipped
  .flipcard__flip {
    // Hide the front item
    .flipcard__item-front {
      opacity: 0;
    }

    // Show the back item
    .flipcard__item-back {
      pointer-events: all;
      opacity: 1;
      overflow-x: hidden;
      overflow-y: auto;
    }
  }

  // Make links on Flipcards not available on the front side
  .flipcard__item-face.flipcard__item-back[aria-hidden="true"] {
    pointer-events: none;
  }
}
