{{! Maintainers - Himanshu Rajotia <himanshu.rajotia@exultcorp.com>}}
<div class="flipCard-inner component-inner">
    {{> component this}}
    <div class="flipCard-widget component-widget">
        {{#each _items}}
        <div class="flipCard-item flipCard-item-tap">
            <div class="flipCard-item-face flipCard-item-front">
                <img src="{{{frontImageSrc}}}" class="flipCard-item-frontImage"/>
            </div>

            <div class="flipCard-item-face flipCard-item-back">
                {{#if backHeading}}
                <div class="flipCard-item-backHeading">
                {{{backHeading}}}
                </div>
                {{/if}}
                {{#if backBody}}
                <div class="flipCard-item-backBody">
                {{{backBody}}}
                </div>
                {{/if}}
            </div>
        </div>
        {{/each}}
    </div>
</div>
