{{! Maintainers - Himanshu Rajotia <himanshu.rajotia@credipoint.com>, CrediPoint Solutions <git@credipoint.com>}}
<div class='flipCard-inner component-inner'>
    {{> component this}}
    <div class="flipCard-widget component-widget">
        {{#each _items}}
            <div class='flipCard-item flipCard-item-tap'>
                <div class='flipCard-item-front flipCard-item-face'>
                    <img src='{{{frontImageSrc}}}'
                         class='flipCard-item-frontImage'/>
                </div>

                <div class='flipCard-item-back flipCard-item-face'>
                    <div class='flipCard-item-backHeading'>
                    <span>
                        {{{backHeading}}}
                    </span>
                    </div>
                    <ul>
                        {{#each backListOfOptions}}
                            <li>
                                {{{this}}}
                            </li>
                        {{/each}}
                    </ul>
                </div>
            </div>
        {{/each}}
    </div>
</div>